.inactive {
  color: #60606c;
  cursor: pointer;

  &:hover {
    background: inherit;
  }
}

.loading-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #363e4d;
  z-index: 2;
  opacity: 0.2;
}

.loading-spinner {
  z-index: 3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

// range button
.range-btn {
  display: flex;
  align-items: center;

  background: #1f7dac;
  padding: 5px;
  font-size: .9em;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  transition: 200ms;

  &:hover {
    background: #248ec4;
  }
}

.range-spinner {
  display: flex;
  align-items: center;
}

// GRID
.mobile {
  display: none;
}

@media not screen and (min-width: 1024px) {
  .grid {
    margin-bottom: 80px;
  }

  .chart-container {
    margin: 10px;
  }
}


@media screen and (min-width: 1024px) {
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .chart-container {
    margin: 12px 20px;
  }

  .mobile {
    display: block;
  }
}

.grid-column {
  display: flex;
  align-self: start;
  flex-direction: column;
}

.chart-container {
  background: #151f2e;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  padding-bottom: 3px;
}

.chart-header {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #151f2e; //#2d313d;
}

.chart-title {
  font-weight: 600;
  font-size: 1.2em;
}

.chart-arrow {
  margin-left: 5px;
  border-radius: 24px;
  transition: 200ms;
  user-select: none;

  &:hover:not(.inactive) {
    cursor: pointer;
    background: #1f7dac;
  }
}

// List
.series-chart {
  background: #151f2e; //#2d313d;
}

.list {
  border-bottom: 2px solid #273851; //#4c5162;
}

.list-header {
  background: #151f2e; //#2d313d;
  display: flex;
  align-items: center;
  padding: 8px 12.944px;
}

.list-header-title-weekday {
  font-size: .9em;
  margin-right: 2px;
}

.list-header-title-date {
  font-weight: 600;
  font-size: 1.2em;
}

.list-header-prop {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.prop-value {
  margin-right: 6.47px;
  font-size: 1.4em;
}

.prop-key {
  text-transform: uppercase;
  color: #818c95;
  font-size: 0.76em;
}

.list-item {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  background: #0e1824; //#252933;
  transition: .1s;
  
  border-left: 0 solid #1b4b61;

  &:hover {
    border-left-width: 3px;
  }

  &:active {
    opacity: 0.7;
  }
}

.list-item > a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.item-image {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 3px;
  margin: 0 10px;
}

.item-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.list-load {
  padding: 20px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: 200ms;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

  &:hover {
    background: #1f7dac;
  }

  &:active {
    opacity: 0.7;
  }
}

// SUMMARY
.summary {
  padding: 10px;
  background: #151f2e; //#2d313d;
  display: flex;
}

.summary-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #424a5e;

  &:last-child {
    border: none;
  }
}

.summary-value {
  font-size: 2.5em;
}

.summary-key {
}

// OVERVIEW

.week-chart {
  grid-column: 1;
  grid-row: 1;
}

.series-chart {
  grid-column: 2;
}

.overview-chart {
  grid-column: 1;
  grid-row: 2;
}
