nav {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px;
}

.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab-icon {
    font-size: 64px;
}