nav {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    max-width: 1320px;
    margin: auto;
}

.tab {
    background: var(--color-bg-darker);

    flex-grow: 1;
    text-align: center;
    margin: 10px;
    padding: 10px 5px;
    font-weight: 500;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: inherit;

    transition: background 200ms;
}

.tab:hover {
    background: var(--color-hover-darker);
}

.tab-selected {
    border-bottom: 3px solid var(--color-bars);
}

.tab i {
    line-height: initial;
    font-size: 20px;
    padding-right: 5px;
}