$sidebarColor: #0d1724;

.expander {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
}

@media screen and (min-width: 1024px) {
    .ses {
        display: grid;
        grid-template-columns: 30% 70%;
        height: 100vh;
    }

    .expander {
        display: none;
    }

    .side-search {
        margin-left: 16px;
    }
}

@media not screen and (min-width: 1024px) {
    .ses {
        margin-bottom: 80px;
    }
}

.sidebar {
    margin: 10px;
    background: $sidebarColor;
    border-radius: 5px;
    flex-basis: 400px;
    min-height: 0;
    overflow-y: scroll;
    scrollbar-width: none;
    grid-column: 1;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2);
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.search-ct {
    display: flex;
    background: $sidebarColor;
    top: 0;
    position: sticky;
}

.side-search {
    display: block;
    
    width: 100%;
    padding: 12px 0;

    outline: none;
    border: none;
    background: $sidebarColor;
    font: inherit;
    font-weight: 600;
    color: #cedfeb;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);

    &::placeholder {
        color: #ffffff91;
    }
}

.side-item {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: background 200ms;
    cursor: pointer;

    &:hover {
        background: #1776a1;
    }
}

.side-thumbnail {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 3px;
    margin: 0 10px;
}

.side-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
}

// content
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    grid-column: 2;
}

.content-empty {
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 2em;
}

.banner {
    display: flex;
    padding: 20px;
    position: relative;
}

.banner-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    opacity: 0.5;
    background-size: cover;
    z-index: -1;
}

.banner-image {
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.banner-text {
    padding: 20px;
}

.banner-small {
    font-weight: 600;
    font-size: 1.2em;
}

.banner-title {
    font-weight: 600;
    font-size: 2em;
}

.banner-more {
    background: #1f7dac;
    color: white;
    padding: 5px 12px;
    margin-top: 5px;
    display: inline-block;
    opacity: 0.8;
    border-radius: 8px;
}

// STAT
.stats-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
}

.stat {
    margin: 10px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 760px) {
    .stat {
        border-right: 1px solid #424a5e;
    }
}

@media not screen and (min-width: 760px) {
    .sidebar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 3;
        max-height: 100%;
    }

    .banner {
        padding-top: 80px;
    }
}

.stat-icon {
    background: #1f232d;
    border-radius: 666px;
    padding: 10px;
}

.stat-content {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.stat-value {
    font-weight: 600;
    font-size: 1.3em;
}

.stat-key {
    font-weight: 600;
    opacity: 0.7;
}

.chart-container {
    padding-top: 5px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.selected {
    background: #124259;
    border-left: 3px solid #1f7dac;
}