<div *ngIf="loading">
  <div class="loading-bg"></div>
  <div class="loading-spinner">
    <app-spinner size="big"></app-spinner>
  </div>
</div>
<div class="grid" *ngIf="!loading">
  <div class="grid-column">

    <div class="chart-container">
      <div class="chart-header">
        <span class="chart-title">Activity</span>
        <span style="flex: 1"></span>
        <span class="chart-subtitle">{{ statsService.calendarDisplay.month }} {{ statsService.calendarDisplay.year }}</span>
        <i class="material-icons-round chart-arrow" (click)="calendarBack()">keyboard_arrow_left</i>
        <i class="material-icons-round chart-arrow" (click)="calendarForward()">keyboard_arrow_right</i>
      </div>
      <app-calendar (events)="handleCalendar($event)" [data]="activities" [update]="updating"></app-calendar>
    </div>
    <!-- EPISODES CHART -->
    <div class="week-chart chart-container">
      <div class="chart-header">
        <span class="chart-title">Episodes</span>
        <span style="flex: 1"></span>
        <div class="range-btn" (click)="loadEarlier()" *ngIf="statsService.nextPage">
          <i class="material-icons-round" *ngIf="!statsService.lock">first_page</i>
          <app-spinner class="range-spinner" size="small" *ngIf="statsService.lock"></app-spinner>
          <span class="range-btn-text">Load more</span>
        </div>
      </div>
      <app-chart [data]="activities" [update]="updating"></app-chart>
    </div>

    <!-- SUMMARY -->
    <div class="summary chart-container">
      <div class="summary-item">
          <div class="summary-value">{{ todayEpisodes }}</div>
          <div class="summary-key">Today</div>
      </div>
      <div class="summary-item">
          <div class="summary-value" style="color: #5cc1f3;">{{ weekEpisodes }}</div>
          <div class="summary-key">This week</div>
      </div>
      <div class="summary-item">
          <div class="summary-value">{{ average }}</div>
          <div class="summary-key">Average</div>
      </div>
    </div>
    
    <footer class="mobile">anistats is not affiliated with AniList. Source on <a
        href="https://github.com/pizza61/anistats">GitHub</a></footer>
  </div>
  <div class="series-chart chart-container">
    
    <!-- LIST -->
    <div class="chart-header series-header">
      <span class="chart-title">Details</span>
    </div>
    <div class="list" *ngFor="let day of statsService.activities">
      <div class="list-header">
        <div class="list-header-title">
          <span class="list-header-title-weekday">{{day.day.weekday}},</span>
          <span class="list-header-title-date">{{ locale.formatActivityDate(day.day) }}</span>
        </div>
        <span style="flex: 1"></span>
        <div class="list-header-prop">
          <span class="prop-value">{{ day.eps }}</span>
          <span class="prop-key">Episodes</span>
        </div>
        <div class="list-header-prop">
          <span class="prop-value">{{ day.anime.length }}</span>
          <span class="prop-key">Anime</span>
        </div>
      </div>
      
      <app-item *ngFor="let anime of day.anime" [anime]="anime" (click)="popup.openSeries(anime)"></app-item>
    
    </div>
    <div class="list-load" *ngIf="statsService.nextPage" (click)="loadEarlier()">Load more</div>
  </div>
</div>
<app-popup #popup></app-popup>
