<div class="container">
    <div class="list" *ngIf="list">
        <div class="first">
            <span></span>
            <span (click)="sort('title')" style="justify-content: flex-start;">Title <i *ngIf="sortSettings.prop == 'title'" class="material-icons">keyboard_arrow_{{ sortSettings.descending ? 'up' : 'down' }}</i></span>
            <span (click)="sort('format')">Type <i *ngIf="sortSettings.prop == 'format'" class="material-icons">keyboard_arrow_{{ sortSettings.descending ? 'up' : 'down' }}</i></span>
            <span (click)="sort('added')">Added <i *ngIf="sortSettings.prop == 'added'" class="material-icons">keyboard_arrow_{{ sortSettings.descending ? 'up' : 'down' }}</i></span>
            <span></span>
        </div>
        <app-series-item *ngFor="let anime of filteredList" [data]="anime" (click)="pop(anime)"></app-series-item>  
    </div>
    <div class="filters">
        <div class="ct search-ct">
            <input type="search" class="search" placeholder="Search" [(ngModel)]="val">
        </div>
        <app-filter *ngFor="let filter of filters" [filter]="filter"></app-filter>
    </div>
</div>
<app-popup #popup></app-popup>