<div class="container-st">
    <div class="list">
        <div class="first">
            <span></span>
            <span (click)="sort('title')" style="justify-content: flex-start;">Title <i *ngIf="sortSettings.prop == 'title'" class="material-icons-round">keyboard_arrow_{{ sortSettings.descending ? 'up' : 'down' }}</i></span>
            <span (click)="sort('format')">Type <i *ngIf="sortSettings.prop == 'format'" class="material-icons-round">keyboard_arrow_{{ sortSettings.descending ? 'up' : 'down' }}</i></span>
            <span (click)="sort('added')">Added <i *ngIf="sortSettings.prop == 'added'" class="material-icons-round">keyboard_arrow_{{ sortSettings.descending ? 'up' : 'down' }}</i></span>
            <span (click)="sort('completed')">Completed <i *ngIf="sortSettings.prop == 'completed'" class="material-icons-round">keyboard_arrow_{{ sortSettings.descending ? 'up' : 'down' }}</i></span>
            <span></span>
        </div>
        <div *ngIf="list;else loading">
            <app-series-item *ngFor="let anime of filteredList" [data]="anime" (click)="pop(anime)"></app-series-item>
        </div>
        <ng-template #loading>
            <div class="loading-container">
                <app-spinner size="big"></app-spinner>
            </div>
        </ng-template>
    </div>
    <div class="filters">
        <div class="filters-top">
            <div class="ct search-ct">
                <input type="search" class="search" placeholder="Search" [(ngModel)]="val">
            </div>
            <div class="ct more-ct" (click)="switchFilters()" title="Show/hide filters" *ngIf="mobileView">
                <i class="material-icons-round">filter_alt</i>
                <span>Filter</span>
            </div>
        </div>
        
        <div class="filters-ct" *ngIf="showFilters">
            <app-filter *ngFor="let filter of filters" [filter]="filter"></app-filter>
        </div>
    </div>
</div>
<app-popup #popup></app-popup>