.chart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: scroll;
  scrollbar-width: none;
  cursor: grab;
  user-select: none;
  
  margin-top: 10px;

  position: relative;
}

.chart::-webkit-scrollbar {
  display: none;
}

.chart-bars {
  display: flex;
  padding: 0 10px;
  height: 180px;
  align-items: flex-end;
}

.chart-bar {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 20%;
}


.bar {
  height: 100%;
  width: 30px;
  background-color: var(--color-bars);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.x-axis {
  padding: 10px;
  display: flex;
  text-align: center;
  background: var(--color-bg-lighter);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px
}

.chart-label {
  width: 100px;
  display: flex;
  flex-direction: column;
}

.chart-label-top {
  font-weight: 600;
  color: var(--color-text-primary);
}

.chart-label-bottom {
  font-weight: 600;
  color: var(--color-text-secondary);
  font-size: .9em;
}

.chart-label-image {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 3px;
}

.chart-image-container {
  position: relative;
  display: block;

  &:hover .chart-image-tooltip {
    opacity: 0.9;
    visibility: visible;
  }
}

/*
 * https://codepen.io/cbracco/pen/qzukg
 */

[data-tooltip] {
  position: relative;
  cursor: pointer;
}

.value {
  font-weight: 600;
}

/* Loading */
.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;

  transition: 200ms;
}