.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 4;

    background: #000000b3;

    display: flex;
    
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 696px) {
    .container {
        align-items: flex-end;
    }
}