.standardNav {
    display: flex;
    align-items: center;
    background: var(--color-bg-darker);
    position: sticky;
    top: 0;
    z-index: 3;
    opacity: 0.9;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.mobileNav {
    position: fixed;
    width: 100%;
    background: #1c1f27;
    bottom: 0;
    display: flex;
    z-index: 3;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.avatar {
    width: 24px;
    height: 24px;
    object-fit: cover;
    border-radius: 3px;
    margin-right: 5px;
}

.title {
    padding: 0 25px;
    font-size: 1.5rem;
    user-select: none;
    transition: 200ms;

    &:hover {
        opacity: 0.7;
    }
}

.username {
    display: flex;
    align-items: center;
    background: #1b1e25;
    padding: 16px 20px;
    transition: 200ms;

    &:hover {
        opacity: 0.7;
    }
}

.username-t {
    font-weight: 600;
}

.username-link {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 760px) {
    .tab {
        padding: 12px 20px;
        font-weight: 600;
        cursor: pointer;
        outline: none;
        color: #818c95;
        transition: 200ms;
    }
}

@media not screen and (min-width: 760px) {
    .tab {
        padding: 10px;
        flex: 1 1 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #818b96;
        outline: none;

        transition: color .2s;
    }

    .tab-icon {
        font-size: 22px;
        margin-bottom: 2px;
    }

    .tab-text {
        font-size: .8em;
    }

    .selectedM {
        color: #d0dee9;

        .tab-icon {
            animation: click .75s ease;
        }
    }
}

.selected {
    color: #5cc1f3;
    font-weight: 600;
    border-radius: 8px;
}

.blue {
    color: #3391c0;
}

@keyframes click {
    0% {
        transform: rotate(0deg) scale(0.8);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}