.mainContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainTitle {
    font-size: 400%;
    user-select: none;
}

.mainInput {
    background: var(--color-bg-darker);
    border-radius: 6px;
    padding: 8px 14px;
    display: flex;
    transition: box-shadow 400ms;
}

.input {
    outline: none;
    border: none;
    background: none;
    font: inherit;
    display: block;
    width: 350px;
    font-weight: 600;
    color: var(--color-text-input);
}

.mainInput:focus-within {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3)
}

.inputButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-bars);
    padding: 5px;
    font-size: .9em;
    border-radius: 3px;
    cursor: pointer;

    opacity: 0;
    transition: 200ms; 
    
    &:hover {
        background: var(--color-hover-input);
    }
}

.blue {
    color: #3391c0;
}

.error {
    position: absolute;
    bottom: 50px;
    padding: 10px 30px;
    border-radius: 4px;
    font-weight: 600;
    width: 200px;
    text-align: center;
    background: #d2405c;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 10px;
    font-weight: 600;
    font-size: .9em;
    color: var(--color-text-secondary); //#9198a6;
}

app-spinner {
    height: 24px;
    width: 24px;
}