<div class="popup">
    <div class="popup-banner">
        <div class="header-bg" [style.backgroundImage]="'url('+data.bannerImage+')'"></div>
        <img class="header-image" [src]="data.coverImage.medium">
        <div class="header-content">
            <span class="header-title">{{ data.title }}</span>
            <span style="flex: 1 1 0;"></span>
            <a [href]="'https://anilist.co/anime/'+data.id" target="_blank" class="header-link">AniList</a>
            <i class="material-icons header-icon" (click)="closePopup()">close</i>
        </div>
    </div>
    <div class="popup-content" *ngIf="current; else other" [@w]>
        <div class="popup-props">
            <div class="prop">
                <div class="prop-val">{{ data.episodes }}</div>
                <div class="prop-key">Episodes</div>
            </div>
            <div class="prop">
                <div class="prop-val">{{ avg }}</div>
                <div class="prop-key">Daily average</div>
            </div>
            <div class="prop">
                <div class="prop-val">{{ diff }}</div>
                <div class="prop-key">Days</div>
            </div>
            <div class="prop">
                <div class="prop-val">{{ added }}</div>
                <div class="prop-key">Added</div>
            </div>
        </div>
       
        <div class="popup-loading" *ngIf="nodata">
            <span class="loading-text">No activity data</span>
        </div>
        <app-chart *ngIf="!nodata" [data]="current"></app-chart>
    </div>
    <ng-template #other>
        <div class="popup-loading">
            <i class="material-icons loading-icon">book_online</i>
            <span class="loading-text">Loading activity...</span>
        </div>
    </ng-template>
</div>
