<div class="ct">
    <div class="filter-header">{{ filter.name }}</div>
    <div class="filter-values">
        <div class="filter-value" *ngFor="let val of filter.values">
            <label [for]="val.key" class="checkbox-ct">
                <input [id]="val.key" type="checkbox" class="checkbox" [checked]="filter.checked.indexOf(val.key) > -1" (change)="check(val.key)">
                <div class="checkbox-icon">
                    <i class="material-icons checkbox-checked" *ngIf="filter.checked.indexOf(val.key) > -1">done</i>
                </div>
                <div class="filter-name">{{ val.name }}</div>
                <span style="flex: 1 1 0;"></span>
            </label>
        </div>
    </div>
</div>
