.filter-header {
  font-weight: 600;
  font-size: 1.2em;
  padding: 10px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-value {
  display: flex;
}

.filter-name {
  font-weight: 500;
}

.filter-icon {
  padding: 2px;
  user-select: none;
  border-radius: 3px;

  cursor: pointer;

  transition: 200ms;

  &:hover {
    background: var(--color-bg-lighter);
  }
}

input[type=checkbox] {
  display: none;
}

.checkbox-ct {
  display: flex;
  padding: 8px;
  flex-grow: 1;
  user-select: none;

  cursor: pointer;
  transition: 200ms;

  &:hover {
    background: #232731;
  }
}

.checkbox-icon {
  width: 24px;
  height: 24px;
  border-radius: 3px;

  background: #343946;

  margin-right: 8px;
}

.checkbox-checked {
  width: 24px;
  height: 24px;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  font-size: 1em;
  font-weight: 900;

  background: var(--color-bars);
}