.filter-header {
  font-weight: 600;
  font-size: 1.2em;
  padding: 10px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-value {
  display: flex;
}

.filter-name {
  font-weight: 500;
}

.filter-icon {
  padding: 2px 6px;
  user-select: none;
  border-radius: 3px;

  cursor: pointer;

  transition: 200ms;

  &:hover {
    opacity: 0.7;
  }
}

input[type=checkbox] {
  display: none;
}

.checkbox-ct {
  display: flex;
  padding: 8px;
  flex-grow: 1;
  user-select: none;

  cursor: pointer;
  transition: 200ms;

  &:hover {
    background: #232731;
  }
}

.checkbox-icon {
  width: 24px;
  height: 24px;
  border-radius: 3px;

  background: #343946;

  margin-right: 8px;
}

.checkbox-checked {
  width: 24px;
  height: 24px;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  font-size: 1em;
  font-weight: 900;

  background: var(--color-bars);
}

// RANGE
$rangeHeight: 6px;

.range-container {
  padding: 0 12px 6px;
}

.range {
  appearance: none;

  background: var(--color-bg-lighter);
  width: 100%;
  margin: 0;

  height: $rangeHeight;
  border-radius: 3px;

  &::-moz-range-thumb,  &::-webkit-slider-thumb {
    appearance: none;
    background: var(--color-bg-darker);
    border: 2px solid var(--color-bars);
    border-radius: 50%;
    width: 16px;
    height: 16px;

    transition: 200ms;

    &:active {
      cursor: grabbing;
      width: 20px;
      height: 20px;
    }
  }

  &::-moz-range-progress, &::-webkit-slider-runnable-track {
    background: var(--color-bars);
    height: $rangeHeight;
    border-radius: 3px;
  }
}