.filter-header {
  font-weight: 600;
  font-size: 1.2em;
  padding: 10px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-value {
  display: flex;
}

.filter-icon {
  padding: 2px 6px;
  user-select: none;
  border-radius: 50%;

  cursor: pointer;

  transition: 200ms;

  &:hover {
    opacity: 0.7;
  }
}

